{
  "extends": ["airbnb", "prettier", "plugin:prettier/recommended"],
  "env": {
    "browser": true
  },
  "rules": {
      "no-use-before-define": ["warn", {
          "functions": false,
          "classes": true,
          "variables": true,
          "allowNamedExports": false
      }]
  }
}
